@font-face {
  font-family: 'barlow_condensedlight';
  src: url('fonts/barlowcondensed-light.woff2') format('woff2'), url('fonts/barlowcondensed-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #f4fde8;
  position: relative;
  height: 100vh;
  background: url(mains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'barlow_condensedlight';
  max-width: 800px;
  margin: auto;
}
a {
  color: #f4fde8;
  text-decoration-line: none;
}
a :hover {
  color: #0000ff;
}
h1 {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin: 40px;
}
.cv {
  padding-bottom: 1em;
}
.info-wrapper {
  position: relative;
  flex-direction: column;
}
.info-wrapper .vertical-center {
  display: flex;
  align-items: center;
  text-align: justify;
}
.info-wrapper .vertical-center .massage-global {
  flex: 1;
  background: url('white-hand.png') no-repeat center;
  background-size: 300px;
  height: 300px;
  margin: 0 3% 0 10%;
}
.info-wrapper .information {
  display: flex;
  flex: 1;
  margin: 3% 0%;
  align-items: center;
}
.info-wrapper .information .prix {
  font-size: 3.2em;
}
.info-wrapper .information .links {
  margin-left: 4.5em;
  font-size: 1.5em;
  text-align: center;
  bottom: 50px;
}
.info-wrapper .information .links a {
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}
.info-wrapper .pitch {
  margin: 5% 10% 0 10%;
  line-height: 1.3em;
  font-size: 1.1em;
}
.info-wrapper .pitch a {
  text-decoration-line: underline;
}
.massage {
  padding-right: 20px;
}
.title {
  color: #f4fde8;
  font-size: 1.2em;
  text-transform: uppercase;
}
.massage-global-wrapper .vertical-center {
  height: 60vh;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  text-align: justify;
}
.massage-global-wrapper .vertical-center .list {
  flex: 1;
  text-align: left;
  margin-left: 10%;
}
.massage-global-wrapper .vertical-center .text {
  flex: 1;
  margin-right: 10%;
  text-align: right;
  line-height: 1.5em;
}
.asterisque {
  font-size: 0.8em;
}
.prix {
  font-size: 0.8em;
  padding-top: 4px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 1.3em;
    padding: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  .info-wrapper .vertical-center {
    display: block;
  }
  .info-wrapper .vertical-center .massage {
    margin-bottom: 1.5em;
  }
  .info-wrapper .information {
    display: block;
  }
  .info-wrapper .information .links {
    margin: 1em;
  }
}
