@font-face {
    font-family: 'barlow_condensedlight';
    src: url('fonts/barlowcondensed-light.woff2') format('woff2'),
        url('fonts/barlowcondensed-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@titleFontsize: 2em;
@bodyFontsize: 1.1em;
@boxFontsize: 1.6em;
@footerFontsize: 1.5em;
@bigFontsize: 3.2em;

@titleFontweight: 300;
@pLineheight: 1.5em;

@height: 100vh;
@bodyHeight: 60vh;
@boxHeight: 300px;

@margin: 40px;
@marginMobile: 90px;
@externeBodyMargin: 10%;
@externeBodyMarginMobile: 20%;
@interneBodyMargin: 3%;
@nulMargin: 0;
@topTextMargin: 5%;

// @textColor: #e6e6e6;
@textColor: rgb(244, 253, 232);
@linkColor: blue;

body {
    color: @textColor;
    position: relative;
    height: @height;
    background: url(mains.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'barlow_condensedlight';
    max-width: 800px;
    margin: auto;
}

a {
    color: @textColor;
    text-decoration-line: none;

    :hover {
        color: @linkColor;
    }
}

h1 {
    font-weight: @titleFontweight;
    font-size: @titleFontsize;
    text-align: center;
    margin: @margin;
}

// #info {
//     display: none;
// }
.cv {
    padding-bottom: 1em;
}


.info-wrapper {
    position: relative;
    flex-direction: column;

    .vertical-center {
        // height: @bodyHeight;
        display: flex;
        align-items: center;
        text-align: justify;

        .massage-global {
            flex: 1;
            background: url('white-hand.png') no-repeat center;
            background-size: @boxHeight;
            height: @boxHeight;
            margin: @nulMargin @interneBodyMargin @nulMargin @externeBodyMargin;
            // border: solid @textColor 1px;

            // p {
            //     margin-top: 30%;
            //     text-align: center;
            //     font-size: @boxFontsize;
            //     -ms-transform: translate(-13%, -170%);
            //     transform: translate(-13%, -170%);
            // }
        }

    }

    .information {
        display: flex;
        // justify-content: right;
        // height: @boxHeight;
        // text-align: right;
        // font-size: @bodyFontsize;
        flex: 1;
        margin: @interneBodyMargin 0%;
        // padding-right: 10px;
        // border: solid @textColor 1px;
        align-items: center;

        .prix {
            font-size: @bigFontsize;
        }

        .links {
            // position: absolute;
            // width: 100%;
            margin-left: 4.5em;
            font-size: @footerFontsize;
            text-align: center;
            bottom: 50px;

            a {
                text-decoration-line: underline;
                text-decoration-thickness: from-font;
            }
        }
    }

    .pitch {
        margin: @topTextMargin @externeBodyMargin @nulMargin @externeBodyMargin;

        a {
            text-decoration-line: underline;
        }

        line-height: 1.3em;
        font-size: @bodyFontsize;
    }
}

.massage {
    padding-right: 20px;
}

.title {
    color: @textColor;
    font-size: 1.2em;
    text-transform: uppercase;
}

.massage-global-wrapper .vertical-center {
    height: @bodyHeight;
    display: flex;
    align-items: center;
    font-size: @boxFontsize;
    text-align: justify;

    .list {
        flex: 1;
        text-align: left;
        margin-left: @externeBodyMargin
    }

    .text {
        flex: 1;
        margin-right: @externeBodyMargin;
        text-align: right;
        line-height: @pLineheight;
    }

}

.asterisque {
    font-size: 0.8em;
}

.prix {
    font-size: 0.8em;
    padding-top: 4px;
}

@media only screen and (max-width: 600px) {

    body {
        font-size: 1.3em;
        padding: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    .info-wrapper {


        .vertical-center {
            display: block;

            .massage {
                margin-bottom: 1.5em;
            }

            // .massage {
            //     padding-bottom: 1.5em;
            //     padding-right: 0%;
            // }

        }

        .information {
            display: block;

            .links {
                margin: 1em;
            }
        }
    }
}