body {
    position: relative;
    height: 100vh;
    background-image: url("mains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pitch{
    position: absolute;
    width: 100%;
    font-family: "Arial Narrow";
    /* font-variant: small-caps; */
    color:#e6e6e6;
    font-size:1.8rem;
    text-align: center;
    bottom: 10px;
    /* padding-top: 30rem; */
}
.sub-pitch{
    font-size:2rem;
}

.massage-global{
    width: 30%;
    font-size: 1.5rem;
    color:#e6e6e6;

}